<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  DAO 객체를 자동으로 생성하려면, 
        namespace의 값이 인터페이스 이름과 같아야 한다. -->    
<mapper namespace="java100.app.dao.BoardDao">
    
        
    <resultMap type="board" id="boardMap">
	
	   <id column="no" property="no"/>
	   <result column="conts" property="content"/>
	   <result column="regdt" property="regDate"/>
	   <result column="vwcnt" property="viewCount"/>
            
    </resultMap>
        
    <sql id="select1">
        select 
            no, title, regdt, vwcnt
    </sql>
    
    <select id="selectList" resultMap="boardMap" parameterType="map">
        <include refid="select1"/>
        from ex_board
        
        <!--  첫번째 조건문 앞에 'or' 가 붙는데,
               이런 경우 mybatis 가 자동으로 제거한다.
    <if test="words != null">
        <where>
            <foreach collection="words" item="word">
                or title like '${word}%'
            </foreach>
        </where>
    </if>

   정렬 조건에 따라 SQL 문을 변경한다 
        order by        
        <choose>
            <when test="OrderColumn == 'title' and align == 'desc'">
                title desc
            </when>
            
            <when test="OrderColumn == 'title' and align == 'asc'">
                title asc
            </when>            
            
            <when test="OrderColumn == 'regdt' and align == 'asc'">
                regdt asc
            </when>
                  
            <when test="OrderColumn == 'vwcnt' and align == 'desc'">
                vwcnt desc
            </when>
                  
            <when test="OrderColumn == 'vwcnt' and align == 'asc'">
                vwcnt asc
            </when>
            <otherwise>
                regdt desc
            </otherwise>
        </choose>
         -->
    </select>
    
    
    <insert id="insert" parameterType="board">
    insert into ex_board(title,conts,regdt)
     values(#{title},#{content},now())
    </insert> 
    
    <update id="update" parameterType="board">
    	
    update ex_board set
     title=#{title},
     conts=#{content}
     where no=#{no}
    </update>
    
    <update id="upView" parameterType="int">
    	update ex_board set
    	vwcnt=vwcnt+1 where
    	no=#{value}
    </update>

     
    <delete id="delete" parameterType="int">
    delete from ex_board where no=#{value}
    </delete>
    
    <select id="selectOne" resultMap="boardMap" parameterType="int">
       <include refid="select1"/>
            ,conts
         from ex_board
        where no=#{value}
    </select>
</mapper>