<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="JdbcTestMapper">
    
   <!-- 컬럼 이름과 프로퍼티 이름이 다를 경우
        매번 컬럼에 별명을 부여해야 하는 번거로움이 있엇다.
        이를 해결하기 위해 나온 것이
        컬럼 이름과 프로퍼티 이름을 연결해주는 방법이다. -->
        
        <resultMap type="board" id="boardMap">
         
            <id column="no" property="no"/>
            <!--  컬럼명과프로퍼티명이 같을 경우 생략가능하다 
            <result column="title" property="title"/> -->
            <result column="conts" property="contents"/>
            <result column="regdt" property="createdDate"/>
            <result column="vwcnt" property="viewCount"/>
            
        </resultMap>
    <select id="findAll" resultMap="boardMap">
        select 
        no, 
        title, 
        regdt, 
        vwcnt <!--  별명을 부여할 필요가 없다 -->
        from jdbc_test
    </select>
    
    <insert id="insert" parameterType="board">
    insert into jdbc_test(title,conts,regdt) values(#{title},#{contents},now())
    </insert> 
    
    <update id="update" parameterType="board">
    update jdbc_test set
     title=#{title},
     conts=#{contents}
     where no=#{no}
    </update>
    
    <delete id="delete" parameterType="int">
    delete from jdbc_test where no=#{value}
    </delete>
    
    <select id="findByNo" resultMap="boardMap" parameterType="int">
        select
            no, 
            title,
            conts,
            regdt,
            vwcnt
         from jdbc_test
        where no=#{value}
    </select>
</mapper>