@charset "UTF-8";

pre{
	background-color : lightgray;
	border : 3px dashed darkgray;
	padding: 5px;
	
}
pre.jps {
	backgound-color lightgray;
}

pre.jave {
    backgound-color yellow;
    
}
